**/bin
**/obj
**/.vs
**/.vscode
**/.idea
**/node_modules
**/dist
**/.git
**/.gitignore
**/*.user
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/appsettings.Development.json
tradingai-web
tests
README.md
DEPLOY.md
